USE [DB_IM_KUKUKU]
GO
/****** Object:  Table [dbo].[M_PACKET]    Script Date: 10/19/2013 02:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_PACKET](
	[PACKET_ID] [nvarchar](50) NOT NULL,
	[PACKET_NAME] [nvarchar](50) NULL,
	[PACKET_PRICE] [decimal](18, 5) NULL,
	[PACKET_PRICE_VIP] [decimal](18, 5) NULL,
	[PACKET_STATUS] [nvarchar](50) NULL,
	[PACKET_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_PACKET] PRIMARY KEY CLUSTERED 
(
	[PACKET_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
