USE [DB_IM_KUKUKU]
GO
/****** Object:  Table [dbo].[T_REFERENCE]    Script Date: 10/19/2013 02:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_REFERENCE](
	[REFERENCE_ID] [nvarchar](50) NOT NULL,
	[REFERENCE_TYPE] [nvarchar](50) NOT NULL,
	[REFERENCE_VALUE] [nvarchar](50) NULL,
	[REFERENCE_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[REFERENCE_STATUS] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_REFERENCE] PRIMARY KEY CLUSTERED 
(
	[REFERENCE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
