USE [DB_IM_KUKUKU]
GO
/****** Object:  Table [dbo].[T_RESERVATION]    Script Date: 10/19/2013 02:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RESERVATION](
	[RESERVATION_ID] [nvarchar](50) NOT NULL,
	[RESERVATION_IS_MEMBER] [bit] NULL,
	[CUSTOMER_ID] [nvarchar](50) NULL,
	[RESERVATION_NAME] [nvarchar](50) NULL,
	[RESERVATION_PHONE_NO] [nvarchar](50) NULL,
	[RESERVATION_DATE] [datetime] NULL,
	[RESERVATION_APPOINMENT_TIME] [datetime] NULL,
	[RESERVATION_NO_OF_PEOPLE] [int] NULL,
	[RESERVATION_STATUS] [nvarchar](50) NULL,
	[RESERVATION_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_RESERVATION] PRIMARY KEY CLUSTERED 
(
	[RESERVATION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_RESERVATION]  WITH CHECK ADD  CONSTRAINT [FK_T_RESERVATION_M_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[M_CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[T_RESERVATION] CHECK CONSTRAINT [FK_T_RESERVATION_M_CUSTOMER]
GO
